
<div id="portfolio" class="container-fluid text-center bg-grey">
<h2>You are?</h2><br>

<div class="row text-center slideanim">
  <div class="col-sm-6">
    <div class="thumbnail">
    <a href="/admin"><img src="assets/login.png" alt="admin" width="400" height="400"></a>
      <p><strong>Admin</strong></p>
      
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <a href="/customer"><img src="assets/cart.png" alt="customer" width="400" height="400"></a>
      <p><strong>Customer</strong></p>
      
    </div>
  </div>
</div>

